.BlogPost-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.08365;

  letter-spacing: -.003em;
}

.BlogPost th {
  font-weight: 500;

  background-color: #eee;
}

.BlogPost th,
.BlogPost td {
  padding: 4px 8px;
}

.BlogPost hr {
  margin: 0 -24px;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}

.BlogPost pre {
  overflow-x: auto;

  padding: 8px 0;

  background-color: #eee;
}

.BlogPost pre > code {
  padding: 0 8px;
  display: inline-block;
}

.BlogPost pre::before,
.BlogPost pre::after {
  display: block;

  width: 8px;

  content: '';
}

.BlogPost :not(pre) > code {
  padding: 8px;

  background-color: #ddd;
}

.BlogPost code {
  font-family: 'Fira Code', 'Fira Mono', 'Inconsolata', monospace;
  font-size: 90%;
}

.BlogPost strong {
  font-weight: 500;
}

.BlogPost a {
  border-bottom: .1ex solid;
}
