.Blog-post-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.08365;

  letter-spacing: -.003em;
}

.Blog th {
  border-top: 2px solid #ddd;
  background-color: #eee;
}

.Blog th, .Blog tr:last-child td {
  border-bottom: 2px solid #ddd;
}

.Blog th, .Blog td {
  padding: 4px;
}

.Blog hr {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #ddd;
  margin: 0 -24px;
}

.Blog pre {
  display: flex;
  background-color: #eee;
  padding: 8px 0;
}

.Blog pre:before, .Blog pre:after {
  content: '';
  display: block;
  width: 8px;
}

.Blog :not(pre) > code {
  background-color: #ddd;
  padding: 8px;
}

.Blog code {
  font-size: 16px;
  font-family: 'Fira Code', 'Fira Mono', 'Inconsolata', monospace;
}

.Blog strong {
  font-weight: 500;
}
