.Blog-post-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.08365;

  letter-spacing: -.003em;
}

.Blog-title::after {
  content: 'iBlog';
}

.Blog-subtitle::after {
  content: 'The best iBlog we’ve ever produced.';
}

.Blog-panic-button-container {
  padding-top: 2ex;
}

.Blog-panic-button {
  display: inline-block;
  cursor: pointer;
  padding: 1ex 2ex;
  font-size: 80%;
  background-color: #ddd;
}

.Blog-panic-button::after {
  content: 'I don’t like how this page looks';
}

.Blog th {
  background-color: #eee;
  font-weight: 500;
}

.Blog th,
.Blog td {
  padding: 4px 8px;
}

.Blog hr {
  margin: 0 -24px;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}

.Blog pre {
  display: flex;

  padding: 8px 0;

  background-color: #eee;
}

.Blog pre::before,
.Blog pre::after {
  display: block;

  width: 8px;

  content: '';
}

.Blog :not(pre) > code {
  padding: 8px;

  background-color: #ddd;
}

.Blog code {
  font-family: 'Fira Code', 'Fira Mono', 'Inconsolata', monospace;
  font-size: 16px;
}

.Blog strong {
  font-weight: 500;
}

.Blog a {
  border-bottom: 2px solid;
}
