.Blog-title::after {
  content: 'iBlog';
}

.Blog-subtitle::after {
  content: 'The best iBlog we’ve ever produced.';
}

.Blog-panic-button-container {
  padding-top: 2ex;
}

.Blog-panic-button {
  font-size: 80%;

  display: inline-block;

  padding: 1ex 2ex;

  cursor: pointer;

  background-color: #ddd;
}

.Blog-panic-button::after {
  content: 'I don’t like how this page looks';
}
