.SearchBrowse {
  .App-row-sizer {
    padding-right: 20px;
  }

  .Columns {
    padding: 0;
  }

  .Columns-column {
    display: flex;

    min-width: 200px;
    margin: 0 40px 40px 0;
    padding: 0;

    flex-basis: 0;
  }
}

.SearchBrowse-post {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 24px;

  background-color: #fff;
}

.SearchBrowse-post-title {
  font-size: 24px;
  line-height: 1.3;

  margin-bottom: 1.5ex;

  flex-grow: 1;
}
