.Columns {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.Columns-column {
  flex: 1 0 auto;
  padding: 20px 12px;
  max-width: 100%;
  text-align: center;
}

@media (max-width: 735px) {
  .Columns-column {
    text-align: left;
    padding: 20px 24px 20px 0;
  }
}
