.jumbotron-laptop-image-container {
  position: relative;

  padding: 94.775% 0 0;
}

.jumbotron-laptop-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.jumbotron-laptop-image-screen {
  position: absolute;
  top: 3%;
  left: 2.3%;

  width: 95.4%;
  height: 30%;
}

.jumbotron-laptop-image-screen > canvas {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity .5s ease-in-out;

  opacity: 0;
}
