.Matrix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: -1;
}

.Matrix > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Matrix + .App-row-sizer {
  background: rgba(0,0,0,0.8);
  margin-top: -40px;
}

.Matrix + .App-row-sizer .App-row-title {
  color: #fff;
}

.Matrix ~ .App-row-sizer .App-row-description {
  color: #ccc;
}
